
@model User
@{
    ViewData["Title"] = "Login Page";
}

    @section Stylesheets {
        <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
    }
    <partial name="_Toaster"></partial>
<div class="login">
    <div class="loginWrapper">
        <div class="loginLeft">
            <h3 class="loginLogo">Socialconnect</h3>
            <span class="loginDesc">
                Connect with friends and the world around you on Socialconnect.
            </span>
        </div>
        <form class="loginRight" method="post" asp-action="Index">
            <div class="loginBox loginBox2">
                <div class="loginInput">
                    <input placeholder="Email"
                           required
                           asp-for="userEmail"
                           type="email"
                           name="userEmail"
                           class="loginInputField" />

                </div>
                <div class="loginInput">
                    <input placeholder="Password"
                           required
                           asp-for="userPassword"
                           type="password"
                           name="userPassword"
                           class="loginInputField"></input>
                </div>
                
                <div class="loginError">
                    <span class="loginError" asp-validation-for="userEmail">  </span>
                    <span class="loginError" asp-validation-for="userPassword"></span>
                </div>

                <button class="loginButton" type="submit">
                    Log in
                </button>
                <a class="loginRegisterButton" asp-controller="Signup" asp-action="Index"> Create a New Account</a>
            </div>
        </form>
    </div>

</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
