@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}


@foreach (var obj in Model)
{
    <div class="container" >
        <img src="/Image/@obj.postImage" alt="Snow" style="width:100%;">
        <div class="bottom-left">@obj.postDescription</div>
    </div>
}

