

@model User


<div>
<form method="post" asp-action="Index">
    <label asp-for="userEmail">Email</label>
        <input class="form-control" asp-for="userEmail" type="email" name="userEmail" />
    <span asp-validation-for="userEmail"></span>


    <label asp-for="userPassword">Password</label>
        <input class="form-control" asp-for="userPassword" type="password" name="userPassword" />
    <span asp-validation-for="userPassword"></span>

        <label asp-for="confirmPassword">Password</label>
        <input class="form-control" asp-for="confirmPassword" type="password" name="confirmPassword" />
        <span asp-validation-for="confirmPassword"></span>

       <label asp-for="userName">UserName</label>
        <input class="form-control" type="text" name="userName" asp-for="userName" />
    <span asp-validation-for="userName"></span>

    <button type="submit">Submit</button>
</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}


