


@model Post


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-light">Create Category</h2>
        </div>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="userId">User Id</label>
            @*when form is posted it will post an object of this category(line no1 ) class with name populated *@
            <input asp-for="userId" class="form-control" />
            @*below satement is used to validate the feild if it is not proper than it shows the error message*@
            <span asp-validation-for="userId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="postImage">Post Image</label>
            @*when form is posted it will post an object of this category(line no1 ) class with name populated *@
            <input type="file" asp-for="postImage" class="form-control" />
            @*below satement is used to validate the feild if it is not proper than it shows the error message*@
            <span asp-validation-for="postImage" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="postTitle">Title</label>
            @*when form is posted it will post an object of this category(line no1 ) class with name populated *@
            <input asp-for="postTitle" class="form-control" />
            @*below satement is used to validate the feild if it is not proper than it shows the error message*@
            <span asp-validation-for="postTitle" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="postBio">Post Bio</label>
            @*when form is posted it will post an object of this category(line no1 ) class with name populated *@
            <input  asp-for="postBio" class="form-control" />
            @*below satement is used to validate the feild if it is not proper than it shows the error message*@
            <span asp-validation-for="postBio" class="text-danger"></span>
        </div>


        

        <button asp-controller="Post" asp-action="Create" type="submit" class="btn btn-primary" style="width:150px">
            Create
        </button>

        
    </div>
</form>

